<?xml version="1.0" encoding="utf-8"?>
<File>
  <IsUploadFile><![CDATA[True]]></IsUploadFile>
  <IsSelectFile><![CDATA[True]]></IsSelectFile>
  <FileSize><![CDATA[10240]]></FileSize>
  <UploadFilePath><![CDATA[/Upload/File/]]></UploadFilePath>
  <VideoType><![CDATA[avi,wmv,rm,rmvb]]></VideoType>
  <AudioType><![CDATA[mp3,wma,mid]]></AudioType>
  <SoftType><![CDATA[rar,zip,7z,doc,xls,ppt,pdf]]></SoftType>
  <OtherType><![CDATA[txt,xml]]></OtherType>
</File>