<?xml version="1.0" encoding="utf-8"?>
<Image>
  <IsUploadImage><![CDATA[True]]></IsUploadImage>
  <IsSelectImage><![CDATA[True]]></IsSelectImage>
  <ImageSize><![CDATA[2048]]></ImageSize>
  <UploadImagePath><![CDATA[/Upload/image/]]></UploadImagePath>
  <ImageType><![CDATA[jpg,gif,png,bmp,jpeg]]></ImageType>
  <IsWatermark><![CDATA[False]]></IsWatermark>
  <WatermarkImage><![CDATA[/Images/1.gif]]></WatermarkImage>
  <WatermarkPos><![CDATA[4]]></WatermarkPos>
  <IsThumbnail><![CDATA[True]]></IsThumbnail>
  <ThumbnailSize><![CDATA[300*230]]></ThumbnailSize>
</Image>