<?xml version="1.0" encoding="utf-8"?>
<System>
  <SiteName><![CDATA[北京新鸿儒|网站建设|网站推广|北京网页制作|北京网页设计]]></SiteName>
  <SiteDomain><![CDATA[http://www.hongru.com]]></SiteDomain>
  <ManagePath><![CDATA[/adminmanage/]]></ManagePath>
  <IsManageCode><![CDATA[True]]></IsManageCode>
  <CreateType><![CDATA[1]]></CreateType>
  <HomeKeyWords><![CDATA[网站建设,北京网站建设,网站建设公司，北京网络公司，网站制作,网站设计,网站策划,网站推广,网络维护，网络技术开发]]></HomeKeyWords>
  <HomeDescription><![CDATA[新鸿儒网站建设公司提供北京网站建设服务，主营范围：网站建设，北京网站建设，网站制作，网站设计，网站策划，网站推广，网络维护，空间租用，域名申请，虚拟主机等多项服务。咨询电话（8610 51267718）]]></HomeDescription>
  <CopyRight><![CDATA[Copyright© 2006-2010 北京新鸿儒世纪网络技术有限公司. All Rights Reserved . ]]></CopyRight>
  <ICP><![CDATA[ICP备京555000号]]></ICP>
  <ObstructCode><![CDATA[北京新鸿儒世纪网络有限公司]]></ObstructCode>
  <TableXmlPath><![CDATA[/App_Data/TableXml/]]></TableXmlPath>
</System>